.attri {
  align-items: center;
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  z-index: 1;
}
.search__box {
  border-radius: 55px;
  padding: 30px;
  background: #f0f3ff;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -0px -0px 10px -1px rgba(255, 255, 255, 0.7);
}
.input__box {
  font-size: 20px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 2s;
}
button {
  font-size: 30px;
  padding-left: 10px;
  border: 0;
  background: transparent;
  outline: none;
}

img {
  padding-bottom: 9px;
  width: 40px;
  cursor: pointer;
  padding-right: 10px;
}
.active {
  font-size: 20px;
  width: 500px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 2s;
  padding-bottom: 10px;
}

.htwd {
  width: 55px;
  border: 0;
  background: transparent;
  outline: none;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
.htwdt {
  width: 45px;
  border: 0;
  background: transparent;
  outline: none;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}
p {
  padding-top: 40px;
  padding-left: 70%;
  padding-right: 30%;
}
.title {
  width: 900px;
  display: flex;
  padding-left: 39%;
  padding-top: 80px;
  background-size: 400%, 400%;
  color: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: change1 10s ease-in-out infinite;
}
h1 {
  width: 600px;
}

@keyframes change1 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}
